@model ProductViewModel
<div class="shop-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  shop product content  =======-->

                <div class="shop-product">
                    <div class="row pb-100">
                        <div class="col-lg-6 mb-md-70 mb-sm-70">
                            <!--=======  shop product big image gallery  =======-->

                            <div class="shop-product__big-image-gallery-wrapper mb-30">

                                <!--=======  shop product gallery icons  =======-->

                                <div class="shop-product-rightside-icons">
                                    <span class="enlarge-icon">
                                        <a class="btn-zoom-popup" href="#" data-tippy="Click to enlarge" data-tippy-placement="left"
                                           data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
                                           data-tippy-arrow="true" data-tippy-theme="sharpborder"><i class="ion-android-expand"></i></a>
                                    </span>
                                </div>

                                <!--=======  End of shop product gallery icons  =======-->

                                <div class="shop-product__big-image-gallery-slider">

                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/soccer-1.png" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/soccer-2.png" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/soccer-3.png" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/soccer-4.jpg" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/soccer-5.png" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/trendcoat-1.jpg" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/trendcoat-2.jpg" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                </div>

                            </div>

                            <!--=======  End of shop product big image gallery  =======-->
                            <!--=======  shop product small image gallery  =======-->

                            <div class="shop-product__small-image-gallery-wrapper">

                                <div class="shop-product__small-image-gallery-slider">

                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/soccer-1-100x100.png" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/soccer-2-100x100.png" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/soccer-3-100x100.png" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/soccer-4-100x100.jpg" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/soccer-5-100x100.png" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/trendcoat-1-100x100.jpg" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                    <!--=======  single image  =======-->

                                    <div class="single-image">
                                        <img src="/lezada/assets/images/shop-product/trendcoat-2-100x100.jpg" class="img-fluid" alt="">
                                    </div>

                                    <!--=======  End of single image  =======-->
                                </div>

                            </div>

                            <!--=======  End of shop product small image gallery  =======-->
                        </div>

                        <div class="col-lg-6">
                            <!--=======  shop product description  =======-->

                            <div class="shop-product__description">
                                <!--=======  shop product navigation  =======-->

                                <div class="shop-product__navigation">
                                    <a href="@Url.Action("Index", "Catalog")"><i class="ion-ios-arrow-thin-left"></i></a>                                   
                                </div>

                                <!--=======  End of shop product navigation  =======-->
                                <!--=======  shop product title  =======-->

                                <div class="shop-product__title mb-15">
                                    <h2>@Model.Title</h2>
                                </div>

                                <!--=======  End of shop product title  =======-->
                                <!--=======  shop product price  =======-->

                                <div class="shop-product__price mb-30">
                                    <span class="main-price">₴ @Model.Price</span>
                                </div>

                                <!--=======  End of shop product price  =======-->
                                <!--=======  shop product short description  =======-->

                                <div class="shop-product__short-desc mb-50">
                                    @Model.Description
                                </div>

                                <!--=======  End of shop product short description  =======-->
                                <!--=======  shop product quantity block  =======-->

                                <div class="shop-product__block shop-product__block--quantity mb-40">
                                    <div class="shop-product__block__title">Количество: </div>
                                    <div class="shop-product__block__value">
                                        <div class="pro-qty d-inline-block mx-0 pt-0">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </div>

                                <!--=======  End of shop product quantity block  =======-->
                                <!--=======  shop product buttons  =======-->

                                <div class="shop-product__buttons mb-40">
                                    <a class="/lezada-button /lezada-button--medium" href="#">Добавить в корзину</a>
                                </div>

                                <!--=======  End of shop product buttons  =======-->
                                <!--=======  shop product brands  =======-->

                                <div class="shop-product__brands mb-20">

                                    <a href="#">
                                        <img src="/lezada/assets/images/brands/brand-1.png" class="img-fluid" alt="">
                                    </a>

                                    <a href="#">
                                        <img src="/lezada/assets/images/brands/brand-2.png" class="img-fluid" alt="">
                                    </a>

                                </div>

                                <!--=======  End of shop product brands  =======-->
                            </div>

                            <!--=======  End of shop product description  =======-->
                        </div>
                    </div>
                </div>

                <!--=======  End of shop product content  =======-->
            </div>
        </div>
    </div>
</div>